.App {
  text-align: center;
}

html{
    overflow: hidden;
}

#paper{
    /* border: none; */
    /* border: 0px; */
    /* border-color: rgba(0,0,0,0); */
    /* height: 100vh; */


    /* background-color: #C8A064; */
    /* background-color: #E4C699; */
    background-color: #ffddab;
    /* background-color: BlanchedAlmond; */
    cursor: none;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    label{
        margin-right: 1px;
    }
}
