#color-menu{
    left: 30%;
    bottom: 10px;

    background-color: rgba(20,20,20,.8);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 25px;
    position: absolute;
    align-items: center;
    flex-flow: wrap;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: grab;
    z-index: 1;
    .br {
        width: 100%;
    }
}

#color-picker{
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    min-width: 100px;
}

/* This doesn't work and I don't know why */
#color-picker-button{
    opacity: 1;
    /* fill-opacity: .1; */
}

input[type="number"]{
    max-width: 40px;
}

input{
    padding: 8px;
    color: white;
    border-radius: 8px;
    background-color: rgb(40,40,40);
}
