#controls-menu{
    top: 0px;
    left: 30%;
    background-color: rgba(20,20,20,.65);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 25px;
    position: absolute;
    align-items: center;
    flex-flow: wrap;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: grab;
    z-index: 1;
    .br {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #controls-menu{
        width: 348px;
        left: 10%;
    }
}

#mirror-buttons{
    > button > svg{
        margin-right: 5px;
    }
}
