#menu-selector-desktop{
    top: 40px;
    right: 10px;
    position: absolute;
    border-radius: 8px;
    background-color: rgba(20, 20, 20, .65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    zoom: 1.5;
}


#menu-selector-mobile{
    /* top:0px; */
    padding: 2%;
    /* padding-left: 0px; */
    /* right: 10px; */
    width: 96%;
    position: absolute;
    /* border-radius: 5px; */
    /* background-color: rgba(20, 20, 20, .65); */
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: space-between;
    /* zoom: 2; */
    /* scale: 3; */
}

.menu-toggle-button-desktop{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
    nav-index: -1;
    align-content: flex-start;
    > svg{
        margin-right: 5px;
    }
}

#menu-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    top: 20px;
    right: 20px;
    padding: 1%;
    cursor: pointer;
}

#menu-icon{
    scale: 3;
    opacity: .2;
}

.main-menu-icon{
    scale: 3;
    opacity: 90%;
    /* padding: 0%; */
}



.menu-toggle-button-mobile{
    background-color: rgba(0, 0, 0, 0);
    /* color: white; */
    border: none;
    cursor: pointer;
    /* padding: 4px;
    padding-left: 10px;
    padding-right: 10px; */
    /* width: 100%; */
    text-align: center;
    nav-index: -1;
    /* align-content: flex-start; */
    /* > svg{
        margin-right: 5px;
    } */
}
