#menu-selector-desktop{
    top: 40px;
    right: 10px;
    position: absolute;
    border-radius: 8px;
    background-color: rgba(20, 20, 20, .65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    zoom: 1.5;
}

/* #menu-selector-mobile{
    /* top:0px; */
    /* padding: 2%; */
    /* padding-left: 0px; */
    /* right: 10px; */
    /* width: 96%; */
    /* position: absolute; */
    /* border-radius: 5px; */
    /* background-color: rgba(20, 20, 20, .65); */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* pointer-events: none; */
    /* zoom: 2; */
    /* scale: 3; */
/* } */

.menu-toggle-button-desktop{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
    nav-index: -1;
    align-content: flex-start;
    > svg{
        margin-right: 5px;
    }
}

#menu-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    top: 20px;
    right: 20px;
    padding: 1%;html, body {
        overflow: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    cursor: pointer;
}

#menu-icon{
    scale: 3;
    opacity: .2;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
}

.main-menu-icon{
    scale: 3;
    opacity: 90%;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    color: rgba(60,60,60,.95);
    /* padding: 0%; */
    /* outline: none; */
    /* background: none; */
    /* outline: none !important; */
    /* background: none !important; */
    /* outline: 0px solid transparent; */
    /* outline-offset: 2px; */
    /* box-shadow: 0 0 2px 2px transparent; */
}

.menu-toggle-button-mobile{
    background-color: transparent;
    /* color: white; */
    border: none;
    cursor: pointer;
    /* padding: 4px;
    padding-left: 10px;
    padding-right: 10px; */
    /* width: 100%; */
    pointer-events: all;
    text-align: center;
    nav-index: -1;
    /* z-index: 2; */
    /* align-content: flex-start; */
    /* > svg{
        margin-right: 5px;
    } */
}

.menu-toggle-button-mobile:focus{
    background: transparent;
}
