.menu-toggle-button{
    background-color: rgba(20, 20, 20, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: left;
    align-content: flex-start;
    > svg{
        margin-right: 5px;
    }
}

#menu-selector{
    top: 40px;
    right: 10px;
    position: absolute;
    border-radius: 8px;
    background-color: rgba(20, 20, 20, .65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    zoom: 1.5;
}

#menu-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    top: 20px;
    right: 20px;
    padding: 1%;
    cursor: pointer;
}

#menu-icon{
    scale: 3;
    opacity: .2;
}
