.main-mobile-sub-menu{
    position: absolute;
    /* translate: 0, -40; */
    /* transform: translate(-40%, 60%); 120px */
    border-radius: 8px;
    background-color: rgba(20, 20, 20, .65);
    padding: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* width: min-content; */
    /* width: 50px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 10px;
}

.mobile-button{
    color: rgb(200,200,200);
    background-color: transparent;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.mobile-icon{
    /* z-index: -1; */
    color: white;
    padding-bottom: 6px;
    scale: 2.5;
}

#select-menu{
    /* transform: translate(-40%, 80%); 120px */
}

#undo-menu{
    display: flex;
    flex-direction: row;
    /* *>{margin: 0px;} */
}
