#repeat-menu-desktop{
    top: 0px;
    /* To center it */
    left: 30%;
    background-color: rgba(20,20,20,.65);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 25px;
    position: absolute;
    align-items: center;
    flex-flow: wrap;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    cursor: grab;
    z-index: 1;
    width: 400px;
}

.trellis-control-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    > *{
        margin: 2px;
    }
}

#repeat-menu-mobile{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#repeat-left{
    left: 0px;
    align-items: start;
    /* min-width: 80; */
}

#repeat-right{
    right: 0px;
}

.repeat-side{
    position: absolute;
    background-color: rgba(20,20,20,.5);
    border-radius: 10px;
    /* align-content: space-between; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: white;
    cursor: grab;
    z-index: 1;
    padding: 2px;
    /* width: 200px; */
    width: fit-content;
    pointer-events: all;
    button {
        opacity: .8;
    }
}

/* .trellis-control-mobile{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: left; */
    /* justify-content: space-between; */
    /* margin-left: 10px; */
    /* > *{
        margin: 2px;
    } */
/* } */

h4{
    padding: 0px;
    margin: 0px;
    /* margin-bottom: 3px; */
}

hr{
    margin: 5px;
}

summary{
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 0px;
    margin-bottom: 2px;
    width: 90%;
    align-items: start;
    text-align: start;
    /* flex-grow: 1; */
    /* box-sizing: content-box; */
}

summary[open]{
    padding-left: 2px;
}

details{
    width: 100%;
    padding-right: 10px;;
    align-items: start;

}
