#repeat-menu{
    top: 0px;
    /* To center it */
    left: 30%;
    background-color: rgba(20,20,20,.65);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 25px;
    position: absolute;
    align-items: center;
    flex-flow: wrap;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    cursor: grab;
    z-index: 1;
    width: 400px;
}

.trellis-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    > *{
        margin: 2px;
    }
}
