#settings-menu{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(20,20,20,.9);
    border-radius: 10px;
    color: white;
    z-index: 1;
}

.footer{
    bottom: 10px;
    position: absolute;
    width: 50%;
    left: 25%;
    display: table;
}
